{% extends "base.html" %}
{% load static %}
{% block head_css %}<link rel="stylesheet" type="text/css" href="{% static 'css/project_options.css' %}" />{% endblock %}
{% block content %}
    <h1>{{ design.name }}</h1>



<div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
  <img src= "{{ MEDIA_URL }}{{ design.image }}" class="img-responsive" height="100%" width="100%">
</div>



<td>
    <form method="post" action=" {% url 'add_to_cart' design.id  %}">
            {% csrf_token %}             
            <h4>Media</h4>
            <h5>Select your medium of choice.</h5>
            <div class="btn-group">
            <select class="form-control btn btn-default dropdown-toggle option-value" name="selected_media">
            <option value="-1">Select Size...</option>
            {% for media_type in media_types %}
                <option value="{{ media_type.id }}">{{ media_type.name }} - €{{ media_type.price }}</option>
            {% endfor %}
            </select>
            </div>
            
             <br> 
             <br>
             <br>
             <br>
             <br>
             <br>
                <br> 
             <br>
             <br>
             <br>
             <br>
             <br>       
            
            <div>
                <button type="submit" class="btn btn-default filter-button ">Add to Cart</button></p>
            </div>
    </form>
<script>

    $('.dropdown-menu a').on('click', function(){    
    $(this).parent().parent().prev().html($(this).html() + '<span class="caret"></span>');    
})

</script>

{% endblock %}

<form method="post" action="{% url 'adjust_cart' item.id %}">
                        {% csrf_token %}
                        Quantity
                        <input name='quantity' type="number" min="0" max="999">
                        <button type="submit">Adjust</button>
                    </form>