{% extends 'base.html' %}
{% load static %}
{% block head_css %}<link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/gallery.css' %}" />{% endblock %}
{% block content %}









<body>
<div class="container">
        <div class="row">
        <div class="gallery col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h1 class="gallery-title">Gallery</h1>
        </div>

        <div align="center">
            <button class="btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="Spring">Spring</button>
            <button class="btn btn-default filter-button" data-filter="Summer">Summer</button>
            <button class="btn btn-default filter-button" data-filter="Flowers">Flowers</button>
            <button class="btn btn-default filter-button" data-filter="Roses">Roses</button>
        </div>
        <br/>

{% for product in products %}
            
        <div class="product-container">
            <div class="left-block">
                <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{product.tag}}">
                <div class="thumbnail">
                <img src= "{{ MEDIA_URL }}{{ product.image }}" class="img-responsive" height="100%" width="100%">
            <div class="right-block">
                <figcaption><h4>"{{ product.name}}"</h4></figcaption>
                <p>"{{ product.description }}</p>

        <div>
                <a href="{% url 'product_options' product.id %}" class="btn btn-info" role="button">Buy</a>
        </div>     

                {% comment %}<form method="POST" action="/cart/add/{{product.id}}"> 
                {% csrf_token %}
                 <button class="btn btn-default filter-button">Buy</button></p>{% endcomment %}
                 </form>
                 </div>
                 </div>
                 </div>
                 </div>
        </div>

{% endfor %}   

{% comment %}<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <img src= "{{ MEDIA_URL }}{{ product.image }}" class="img-responsive" height="100%" width="100%">
            <div class="right-block">
                <figcaption><h4>"{{ product.name}}"</h4></figcaption>
                <p>"{{ product.description }}</p>
                <form method="POST" action="/cart/add/{{product.id}}"> 
                {% csrf_token %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        ...
      </div>
      <hr>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>      {% endcomment %}
           
          
               


</body>

<script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>


<!--<script type='javascript' src='jquery-3.2.1.js'> </script>-->


<script>

$(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});

$("#myModal").on("click", function() { alert("clicked")
   $('#imagepreview').attr('src', $('#imageresource').attr('src')); // here asign the image to the modal when the user click the enlarge link
   $('#imagemodal').modal('show'); // imagemodal is the id attribute assigned to the bootstrap modal, then i use the show function
});

//Dropdown menu js

$('.dropdown-menu a').on('click', function(){    
    $('.dropdown-toggle').html($(this).html() + '<span class="caret"></span>');    
})

</script> 


<!--<script type='javascript' src='Prints.js'> </script>-->

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-mousewheel/3.1.12/jquery.mousewheel.js"></script>
<script src="src/js/jquery.event.drag.js"></script>
<script src="src/js/mag.js"></script>
<script src="src/js/mag-jquery.js"></script>

{% endblock content %}


{% comment %}https://bootsnipp.com/snippets/featured/thumbnail-with-caption-amp-buttons{% endcomment %}